*, ::before, ::after { box-sizing: border-box; }
html { -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }
html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }
body { margin: 0; }
body { font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; }
::-moz-focus-inner { border-style: none; padding: 0; }
:-moz-focusring { outline: 1px dotted ButtonText; }
:-moz-ui-invalid { box-shadow: none; }
::-webkit-inner-spin-button,
::-webkit-outer-spin-button { height: auto; }
::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }
html { font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */ line-height: 1.5; /* 2 */ }
body { font-family: inherit; line-height: inherit; }
*,
::before,
::after { box-sizing: border-box; /* 1 */ border-width: 0; /* 2 */ border-style: solid; /* 2 */ border-color: currentColor; /* 2 */ }
button,
[role="button"] { cursor: pointer; }
a { color: inherit; text-decoration: inherit; }
img, video { max-width: 100%; height: auto; }
*, ::before, ::after { --tw-border-opacity: 1; border-color: rgba(229, 231, 235, var(--tw-border-opacity)); }


@keyframes opacity-0-10{ from{ opacity: 0; } to{ opacity: 1; } }
@keyframes opacity-10{ from{ opacity: 1; } to{ opacity: 1; } }
@keyframes opacity-10-6{ from{ opacity: 1; } to{ opacity: .6; } }
@keyframes opacity-0{ from{ opacity: 0; } to{ opacity: 0; } }
@keyframes opacity-0-10{ from{ opacity: 0; } to{ opacity: 1; } }
@keyframes opacity-10-9{ from{ opacity: 1; } to{ opacity: .9; } }
@keyframes translate-x-30{ from{ transform: translateX(0); } to{ transform: translateX(30%); } }


*{padding: 0; margin: 0;}
.z-1-{z-index: -1;}
.back-image-dheje{filter: blur(30px);}
@keyframes kkio {0%{filter: blur(0px);}100%{filter: blur(30px);}}
.back-color-dheje{background-color: white;opacity: .6;animation: opacity-10 1.3s, opacity-10-6 4s 1.3s; z-index: 10;}
@keyframes jdwi {0%{opacity: .4;}100%{opacity: .6;}}
.back{z-index: -1;}

/* --- Color ---  */
.zo-sjbwdw{background-image: linear-gradient(35deg, rgba(255, 255, 255, .4) 30%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));}
.parent-bdwjdw{animation: opacity-0 4.3s, opacity-0-10 4.5s 4s ease-in, translate-x-30 4.5s 4s ease-in reverse;}
@media (prefers-color-scheme: dark) {
	*{color: white;}
	html{background: rgb(10,10,10);}
	.back-image-dheje{filter: blur(20px);}
	@keyframes kkio {0%{filter: blur(0px);}100%{filter: blur(20px);}}
	.back-color-dheje{background-color: black;opacity: .9;animation: opacity-10 1.3s, opacity-10-9 4s 1.3s;}
	@keyframes jdwi {0%{opacity: .4;}100%{opacity: .9;}}
	/*.zo-sjbwdw{background-color: rgba(0, 0, 0, .6);}*/
	.zo-sjbwdw{background-image: linear-gradient(45deg, rgba(0, 0, 0, .6) 45%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));}
}



.flex-eu29{ display: flex; }
.w-full-29u2{ width: 100%; }
.h-full-ej2{ height: 100%; }
.overflow-hidden-w19{ overflow: hidden; }
.items-center-ewu29{ align-items: center; }
.absolute-329u{ position: absolute; }

.back{ left: 0; top: 0; margin: auto; }
.bg-dyh82{ background-repeat: no-repeat; background-position: center; background-size: cover; }
.main-w2181{ width: 100vw; height: 100vh; justify-content: center; }
.main-w2181 > div{ width: 83.333333%; }
.fleco-2u92{ flex-direction: column; padding: 2.5rem; }
.fleco-2u92 > :not([hidden]) ~ :not([hidden]){ margin-top: 1.25rem; } 
.page-title-eu92{
	font-family: 'Nunito Bold', 'Brandon Bold', 'Segoe Semibold', 'Segoe UI Semibold', 'Cocogoose Semibold', 'Arial Bold', arial, sans-serif;
	font-size: 1.5rem; line-height: 2rem;
}
.link-w29{ display: inline-block; }
.link-w29 > div > :not([hidden]) ~ :not([hidden]){ margin-left: 0.5rem; } 
@media (min-width: 640px) { /* SM */
	.main-w2181 > div{
		width: 66.666667%;
	}
	.fleco-2u92 > :not([hidden]) ~ :not([hidden]){ margin-top: 2.25rem; } 
	.page-title-eu92{
		font-size: 2.25rem; line-height: 2.5rem;
	}
	.link-w29{ margin-left: 2rem; }
}
@media (min-width: 768px) { /* MD */
	.main-w2181 > div{
		width: 50%;
	}
	.page-title-eu92{
		font-size: 3rem; line-height: 1;
	}
}


